<!DOCTYPE html>
{% load staticfiles %}
{% load get_port %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DockerDJ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" charset="utf-8"></script> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">DockerDj</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:dockerfiles' %}">Dockerfiles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:dockerfile_new' %}">Add dockerfile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:containers' %}">Containers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:container_new' %}">Add Container</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:dockerfiles' %}">Dockerfiles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:containers' %}">Containers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:login' %}">Login</a>
                </li>
              {% endif %}
          </ul>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
