<!DOCTYPE html>
{% load staticfiles %}
{% load get_port %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DockerDJ</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">DockerDj</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DockerFiles
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{% url 'dockerapp:dockerfile_new' %}">Add dockerfile</a>
                    <a class="nav-link" href="{% url 'dockerapp:dockerfiles' %}">Dockerfiles list</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Containers
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{% url 'dockerapp:containers_dockerfile' %}">By dockerfile</a>
                    <a class="nav-link" href="{% url 'dockerapp:containers_image' %}">By image</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Container
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{% url 'dockerapp:container_dockerfile_new' %}">By dockerfile</a>
                    <a class="nav-link" href="{% url 'dockerapp:container_image_new' %}">By image</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GitRepos
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{% url 'dockerapp:gitrepo_new' %}">Add gitrepo</a>
                    <a class="nav-link" href="{% url 'dockerapp:gitrepos' %}">Gitrepos list</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:dockerfiles' %}">Dockerfiles</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Containers
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="{% url 'dockerapp:containers_dockerfile' %}">By dockerfile</a>
                    <a class="nav-link" href="{% url 'dockerapp:containers_image' %}">By image</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:gitrepos' %}">Gitrepos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'dockerapp:login' %}">Login</a>
                </li>
              {% endif %}
          </ul>
          </ul>
        </div>
      </div>
    </nav>
    <div id="bars">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
